<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">WeCare</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Link</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="avatar avatar-sm avatar-circle">
          <img class="avatar-img" src="../../../../assets/images/img6.jpg" alt="">
          <span class="avatar-status avatar-sm-status avatar-status-success"></span>
        </div>
      </div>
    </div>
  </div>
</nav>
