<main id="content" role="main" class="main">
  <div class="position-fixed top-0 end-0 start-0 bg-img-start"
    style="height: 100%; background-color: aliceblue;">
  </div>

  <!-- Content -->
  <div class="container py-5 py-sm-7">
    <a class="d-flex justify-content-center mb-5" href="index.html">
      <img class="zi-2" src="../../../../assets/svg/card-6.svg" alt="Image Description" style="width: 8rem;">
    </a>

    <div class="mx-auto" style="max-width: 30rem;">
      <!-- Card -->
      <div class="card card-lg mb-5">
        <div class="card-body">
          <!-- Form -->
          <div class="text-center">
            <div class="mb-5">
              <h1 class="display-5">Sign in</h1>
              <p>Don't have an account yet? <a class="link" [routerLink]="'/auth/sign-up'">Sign up here</a></p>
            </div>

            <span class="divider-center text-muted mb-4">OR</span>
          </div>
          <form [formGroup]="signInFormGroup">

            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="signupSrEmail">Your email</label>
              <input type="email" formControlName="username" class="form-control form-control-lg"
                placeholder="Markwilliams@site.com">
              <div class="v-message" *ngIf="(uiState.isSubmitting && signInFormGroup.get('email')?.hasError('required')
                || signInFormGroup.get('email')?.touched && signInFormGroup.get('email')?.hasError('required'))">
                <span> Email is <strong>required</strong></span>
              </div>
              <!-- <span *ngIf="uiState.isSubmitting && signInFormGroup.get('email')?.hasError('pattern')  ||
                 signInFormGroup.get('email')?.touched && signInFormGroup.get('email')?.hasError('pattern') ">
                <span class="v-message">Please enter a valid <strong>email address</strong></span>
              </span> -->
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="signupSrPassword">Password</label>
              <div class="input-group input-group-merge">
                <input type="password" formControlName="password" class="form-control form-control-lg"
                  placeholder="8+ characters required">
              </div>
              <div class="v-message"
                *ngIf="(uiState.isSubmitting && signInFormGroup.get('password')?.hasError('required')
                 || signInFormGroup.get('password')?.touched && signInFormGroup.get('password')?.hasError('required'))">
                <span> Password is <strong>required</strong></span>
              </div>
            </div>
            <!-- End Form -->

            <div class="d-grid" [class.grid]="uiState.isLoading">
              <button type="submit" [disabled]="uiState.isLoading" (click)="signIn()" class="btn btn-primary btn-lg">
                <div *ngIf="uiState.isLoading" class="spinner-grow spinner-grow-sm">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <span *ngIf="!uiState.isLoading">Sign in</span>
              </button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
      <!-- End Card -->

    </div>
  </div>
  <!-- End Content -->
</main>
