<!--
<div *ngIf="messageAlertInfo.isAlertVisiable" class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3" style="max-width: 31rem;">
  <div class="card card-sm  border-dark mx-2" [ngClass]="messageAlertInfo.type =='info'? 'bg-dark': 'bg-danger'" >
      <div class="card-body">
          <div class="row justify-content-center justify-content-sm-between">
              <div class="col">
                  <i class="bi  text-white" [ngClass]="messageAlertInfo.icon =='info'? 'bi-info-circle': 'bi-success-circle'"></i>
                  <span class="text-white px-2">{{messageAlertInfo.message}}</span>
              </div>
              <div class="col-auto">
                  <div class="d-flex gap-3">
                      <button class="btn btn-ghost-light">Discard</button>
                      <div class="btn btn-primary">Save</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
