.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .0625rem solid rgba(231, 234, 243, .7);
  border-radius: .75rem
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.3125rem 1.3125rem
}

.form-control {
  display: block;
  width: 100%;
  padding: .6125rem 1rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  background-color: #fff;
  background-clip: padding-box;
  border: .0625rem solid rgba(231, 234, 243, .7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .3125rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control:focus {
  color: #1e2022;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 1rem 0 rgba(218, 220, 223, 0.25)
}

.btn-primary {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff
}

.btn-primary:hover {
  color: #fff;
  background-color: #2f6ad9;
  border-color: #2c64cc
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #2f6ad9;
  border-color: #2c64cc;
  box-shadow: 0 0 0 0 rgba(85, 145, 255, .5)
}

.display-5 {
  font-size: calc(1.275rem + .3vw);
  font-weight: 600;
  line-height: 1.2
}

.link {
  text-decoration: none;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.3125rem 1.3125rem
}

.bg-dark {
  background-color: #132144 !important;
}

