<div class="content container-fluid">

  <div class="d-flex justify-content-center">

    <div class="col-lg-8">
      <div class="card shadow-sm animated flipInX delay-02">
        <div class="card-header">
          <div class="card-header-title">Product information</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <label>Tes</label>
              <div class="mb-4">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <label>Tes</label>
              <div class="mb-4">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-4">
              <input type="text" class="form-control">
            </div>
            <div class="d-flex justify-content-end gap-3">
              <button type="button" class="btn btn-white">Save</button>
              <button type="button" (click)="save()" class="btn btn-primary">Save</button>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <div class="card">
    <div class="card-header card-header-content-md-between">
      <div class="mb-2 mb-md-0">
        <input input type="text" class="form-control form-control-lg" placeholder="Search">
      </div>
      <div class="d-grid d-sm-flex gap-2">

        <button type="button" class="btn btn-primary">
          <i class="bi bi-plus-circle-fill w-50 h-50 pl-2"></i>Add</button>
      </div>

    </div>
    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Country</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span >amanda@example.com</span>
            </td>
            <td>
              <span >Director</span>
            </td>
            <td>United Kingdom </td>
            <td>
              Active
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- End Table -->
  </div>

  <app-message-alert [isAlertVisiable]="isAlertVisiable"></app-message-alert>
